- content_for :body do
  = raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) if Refinery::Pages.default_parts.any?
  - if @posts.any?
    %section#blog_posts{:class => 'blog'}
      = render :partial => "/refinery/blog/shared/post", :collection => @posts
      = will_paginate @posts
  - else
    %p= t('.no_blog_articles_yet')
- content_for :side_body_prepend do
  = raw @page.content_for(Refinery::Pages.default_parts.second.to_sym)
- end if Refinery::Pages.default_parts.many?
= render '/refinery/blog/shared/body_content_right'
= render "/refinery/content_page"
