- content_for :side_body do
  = yield(:side_body_prepend)
  = render "/refinery/blog/shared/rss_feed"
  = render "/refinery/blog/shared/categories"
  = render "/refinery/blog/shared/tags"
  = render "/refinery/blog/shared/posts"
  = blog_archive_widget
  = yield(:side_body_append)
