- if @categories.any?
  %h2= t('.title')
  %ul#categories
    - @categories.each do |category|
      <li#{" class='selected'" if @category.present? and @category.id == category.id}>
      \#{link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category)}
