- if post.live?
  .single-post{:id => dom_id(post)}
    .post-content
      .span1
      .span10
        .post-inner-content
          %h2.post-header
            = link_to post.title, refinery.blog_post_path(post)
          .post-meta
            %span.date
              = post.published_at.to_date
            %span.comments
              = pluralize(post.comments.approved.count, 'comment')
          .main-content
            %p
              - if blog_post_teaser_enabled?
                = blog_post_teaser(post)
              - else
                = post.body.html_safe
          .clearfix
            - if blog_post_teaser_enabled? && post.custom_teaser.present?
              = link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post), class: "readmore-button.button"

