.sidebar-item.span5
  .post-inner-content
    %h2= t('.title')
    = link_to t('.subscribe'), refinery.blog_rss_feed_path, :id => "rss_feed_subscribe"
    - content_for :meta, auto_discovery_link_tag(:atom, refinery.blog_rss_feed_url, :title => 'RSS Feed')
