= render_content_page(@page, {:hide_sections => [:body_content_title, local_assigns[:hide_sections]], :can_use_fallback => !local_assigns[:show_empty_sections] && !local_assigns[:remove_automatic_sections]})
= render '/refinery/draft_page_message' unless @page.nil? or @page.live?
