- page_code = Refinery::Core.google_analytics_page_code.to_s.strip
- unless local_request? or refinery_user? or page_code =~ /^(UA-xxxxxx-x)?$/
  / asynchronous google analytics snippet
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '#{page_code}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
