%section.top-sidebar
  / container
  .container
    .row
      / widget
      .widget.cats-widget.span4
        %h3 Categories
        .widget-content
          %ul
            %li
              %a{:href => "#"} Technology
              %span 37
            %li
              %a{:href => "#"} Web Design
              %span 49
            %li
              %a{:href => "#"} Miscellaneous
              %span 16
            %li
              %a{:href => "#"} General / Off Topic
              %span 52
        / end widget content
      / end widget
      / widget
      .widget.span4
        %h3 Twitter
        .widget-content
          .twitter-container
            .tweet
              %p
                The State of
                %span.custom #WordPress
                Themes: 87% of all WordPress theme shops sell themes on Themeforest
                %a.custom{:href => "#"} http://supportdash.com/wordpress
            .tweet
              %p
                What Are The Most Inspiring  Markepplace Moments Of ALl Time
                %a.custom{:href => "#"} http://enva.to/1vgh5d
            .tweet
              %p
                Our server maintenance is now done, so Envato Support should be working as normal now. If you see any problems please tweet
                %span.custom @envato_support
          / end twitter container
        / end widget content
      / end widget
      / widget
      .widget.span4
        %h3 Dribbble
        .widget-content
          %a.dribbble-image{:href => "#"}
            %img{:alt => "Latest Dribbble Project", :src => "img/dribbble-image.png"}/
        / end widget content
      / end widget
    / end row
  / end container
/ end top sidebar
/ header
%header#header.header
  / container
  .container
    .row
      / span12
      .span12
        / logo
        .logo
          %a{:href => "index.html"}
            = image_tag "logo.png", alt: "KidByDesign"
        / end logo
        / top content
        .top-content
          / menu
          %nav.menu
            %ul
              %li.toggle
                %a{:href => "#"} Menu
              %li
                %a{:href => "index.html"} Home
              %li
                %a{:href => "archive.html"} Archive
              %li
                %a{:href => "contact.html"} Contact
          / search and toggle
          .search
            %form.top-search
              %input.s{:placeholder => "search...", :type => "text"}/
              %input.submit{:type => "submit", :value => ""}/
            / toggle button
            %a.toggleSidebar{:href => "#"}
          / end search
        / end top content
      / end span12
    / end row
  / end container
/ /header
/ blog
