%head
  %meta{:charset => Rails.application.config.encoding}/
  /[if IE] <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  /[if lt IE 9] <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %title= browser_title(yield(:title))
  = raw %(<link href="http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,900" rel="stylesheet" type ="text/css" >)
  = raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present?
  = raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present?
  = csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend
  = yield :meta
  = stylesheet_link_tag "application", "formatting", "theme"
  = stylesheet_link_tag "home" if home_page?
  = yield :stylesheets
  = render '/refinery/google_analytics'
  = javascript_include_tag 'modernizr-min'
